@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* 


#001F24
#17E9B7
#F3F4FB
#C2C3C8
#191F1D


*/
*{
  font-family: 'Poppins';
}
.borderText{
  -webkit-text-stroke: #17E9B7;
  -webkit-text-stroke-width: 1px;
}
.inputField{
  width: 100%;
    color: #17E9B7;
    outline: none;
    border: none;
}
